*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins",sans-serif;
}
header {
width:100%;
height: 50px;
background:orange ;
color: #fff;
position: fixed;
top:0;
left:0;
}
h1{
float: left;
}
#banner{
margin-top:50px;
position: relative;
}
#banner img{
width:100%;
height:100%;
}
#banner .conte{
position:left;
top:50% ;
left:50%;
color: blueviolet;

}
.menu a{
    display:inline-table;
    color:#ffffff;
    height:40px;
    text-decoration: initial;
    padding: 15px;
    border: 0px solid #fff;
}
.menu a:hover{
    background: greenyellow;
}
#bienvenidos{
	padding:15px;
	text-transform:uppercase;
	color: greenyellow;
	}
	#Servicios{
	padding:50px;
	color: greenyellow;
	}
	
	#Servicios h3{
	text-align:center;
	color:orange;
	}
	#Servicios h4{
	text-align:center;
	color: orange;
	font-family:"tahoma",sans-serif;
	}
	
	#Servicios .contenedor{
	display:flex;
	justify-content:center;
	flex:wrap;
	}
	
	#Servicios article{
	margin:1px;
	}
	#Servicios img{
	width:100%;
	max-width:300px;
	
	}
	#productos{
		background: #0c1650;
		color: #fff;
		text-align: center;
		padding: 30px;
	}
	#productos h2{
		padding: 15px;
		text-transform: uppercase;
	}
	#productos .contenedor{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.info-mascota{
		margin: 60px;

	}
	.info-mascota img{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border:7px solid #fff;

	}
	#opcion{
		background: #fff;
		color: #0c1650;
		text-align: center;
		padding: 30px;
	}
	#opcion h2{
		
			padding: 15px;
			text-transform: uppercase;
	}
	#opcion .contenedor{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	#opcion img{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border:7px solid #0c1650;
	}
	.cont{
		margin: 60px;

	}
	.cont img{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border:7px solid #fff;

	}
	#promociones{
		background: #0c1650;
		color: #fff;
		text-align: center;
		padding: 30px;
	}
	#promociones h2{
		padding: 15px;
		text-transform: uppercase;
	}
	#promociones .contenedor{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.info-mascota{
		margin: 60px;

	}
	.info-mascota img{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border:7px solid #fff;

	}

	#ubicacion h1{
			font-size: 25px;
			font-weight: bold;
			text-transform: uppercase;
	}
	#ubicacion .contenedor{
		display: flex;
		padding: 35px;
		flex-wrap: wrap;
		justify-content: center;
	}
#ubicacion{

	background: #fff;
	color: #0c1650;
	text-align: center;
	padding: 50px;
}
footer{
	background:#9ba1c4;

}
footer .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 30px;
	color: #0c1650;
}
.copy {
	font-size: 20px;
	padding: 20px;
}
.red-social{
	width: 100%;
	text-align: center;
	font-size: 30px;
}
.red-social a{
	color: #fff;
	text-decoration: none;
}