*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins",sans-serif;
}
header {
width:100%;
height: 50px;
background:orange ;
color: #fff;
position: fixed;
top:0;
left:0;
}
h1{
float: left;
}
#banner{
margin-top:50px;
position: relative;
}
#banner img{
width:100%;
height:100%;
}
#banner .contenedor{
position: absolute;
top:50% ;
left:50%;
color: blueviolet;
transform:translateX(-470px)translateY(-250px) ;
}
.menu a{
    display: inline-flex;
    color:#fff;
    height: 50px;
    text-decoration: initial;
    padding: 22px;
    border: 0px solid #fff;
}
.menu a:hover{
    background: greenyellow;
}
#bienvenidos{
	padding:15px;
	text-transform:uppercase;
	}
	#Servicios{
	padding:50px;
	}
	
	#Servicios h3{
	text-align:center;
	color:orange;
	}
	#Servicios h4{
	text-align:center;
	color: orange;
	font-family:"tahoma",sans-serif;
	}
	
	#Servicios .contenedor{
	display:flex;
	justify-content:center;
	flex:wrap;
	}
	
	#Servicios article{
	margin:1px;
	}
	#Servicios img{
	width:100%;
	max-width:300px;
	
	}
	#productos{
		background: #0c1650;
		color: #fff;
		text-align: center;
		padding: 30px;
	}
	#productos h2{
		padding: 15px;
		text-transform: uppercase;
	}
	#productos .contenedor{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.info-mascota{
		margin: 60px;

	}
	.info-mascota img{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border:7px solid #fff;

	}
	#opcion{
		background: #02b698;
		color: #fff;
		text-align: center;
		padding: 30px;
	}
	#opcion h2{
		padding: 15px;
		text-transform: uppercase;
	}
	#opcion .contenedor{
		display: flex;
		flex-wrap: wrap;
		justify-content: left;
	}
	.cont{
		margin: 60px;

	}
	.cont img{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border:7px solid #fff;

	}